<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="preferExternal">
    <!-- Change package when branching into distinct app -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.tribunezamaneh.rss.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:theme="@style/AppTheme"
        tools:replace="name"
        android:supportsRtl="true">
        <activity
            android:name="com.tribunezamaneh.rss.PostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_post"
            android:theme="@style/AppThemeReporter" />
        <activity
            android:name="com.tribunezamaneh.rss.AddPostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_post"
            android:theme="@style/AppThemeReporter" />
        <activity
            android:name="com.tribunezamaneh.rss.CommentsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_comments"
            android:theme="@style/AppThemeNoActionBar">
        </activity>

	</application>

</manifest>
